*{ margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
   font-family: sans-serif; 
    
   }

body {
  padding-top: 30px;
}

  .header {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    color: white;
    margin: 0;
  }

  .header img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
  }

  .nav {
    list-style: none;
  }
  .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
     list-style: none;
  }
  .nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
  }
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .portal {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  li {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    list-style: none;
  }
  li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    list-style: none;
  }

  .hero-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/Background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 10%;
  }

  .main-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  .text-content { 
    width: 45%; 
  }

  .text-content h1 { 
    font-size: 3.5rem; 
    margin-bottom: 20px; 
    line-height: 1.2; 
  }

  .text-content p { 
    font-size: 1.1rem; 
    margin-bottom: 30px; 
    color: #ccc; 
  }

  .btn-group { 
    display: flex; 
    gap: 15px; 
  }

  button { 
    padding: 15px 25px; 
    border-radius: 8px; 
    border: none; 
    font-weight: bold; 
    cursor: pointer; 
  }

  .btn-primary { 
    background: white; 
    color: black; 
  }

  .btn-secondary { 
    background: transparent; 
    border: 1px solid white; 
    color: white; 
  }

  .card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    border: 1px solid #333;
  }
  .card-header { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 15px; 
  }

  .badge { 
    background: #333; 
    padding: 4px 10px; 
    border-radius: 10px; 
    font-size: 0.8rem;
   }

  .card-item { 
    padding: 20px 0; 
    border-bottom: 1px solid #333; 
    display: flex; 
    justify-content: flex-start;
    gap: 10px;
  }