 body{ 
    font-family: Arial, sans-serif;
    margin: 2rem;
    background: #f7f9fc;
    color: #333;
    }

table{
    width: 100%;
    border: 1px;
    box-shadow: 0 2px 8px rgba(207, 196, 196, 0.1);
    background: #fff;
    }

td {
    padding: 0.75rem 1rem;
    border: 1px solid #d7dde4;
    text-align: left;
    width: 100px;
    }

th {
    background: #1e3a8a;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    }

tr:hover {
    background: #8096b4;
    }